*.7z
*.zip
/Workfiles
RSS-Volumetrics/Sol-Textures/PluginData/03_Earth-System/03_Earth/EVE/EarthTop/normals.dds
RSS-Volumetrics/Sol-Textures/PluginData/03_Earth-System/03_Earth/EVE/EarthCirrus/EarthCirrusColor.dds
RSS-Volumetrics/Sol-Textures/PluginData/03_Earth-System/03_Earth/EVE/EarthCitylights/EarthCities.dds
RSS-Volumetrics/Sol-Textures/PluginData/03_Earth-System/03_Earth/EVE/EarthTropical/EarthTropical.dds
RSS-Volumetrics/Sol-Textures/PluginData/03_Earth-System/03_Earth/EVE/EarthTropical/EarthTropicalColor.dds