*.7z
*.zip
Sol-Volumetrics/Sol-Textures/PluginData/01_Mercury/Kopernicus/Mercury_Height.dds
Sol-Volumetrics/Sol-Textures/PluginData/01_Mercury/Kopernicus/Mercury_Normal.dds
Sol-Volumetrics/Sol-Textures/PluginData/02_Venus/Kopernicus/Venus_Height.dds
Sol-Volumetrics/Sol-Textures/PluginData/02_Venus/Kopernicus/Venus_Normal.dds
Sol-Volumetrics/Sol-Textures/PluginData/04_Mars/Kopernicus/Mars_Height.dds
Sol-Volumetrics/Sol-Textures/PluginData/04_Mars/Kopernicus/Mars_Normal.dds
Sol-VolumetricsR1.7z
Sol-VolumetricsR1.zip
